<script type="text/javascript">
  window.images = {
    banana: '<%= image_url('banana.png') %>',
    laptop: '<%= image_url('laptop.png') %>',
    mobile: '<%= image_url('mobile.png') %>',
    cactus: '<%= image_url('cactus.png') %>',
    favicon: '<%= image_url('favicon.ico') %>'
 }
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<main id="root">This page is broken.</main>